Run
RunAndroid
RunAndroidx86
.tags
.tags_sorted_by_file
*.user
*.user.*
*.[oa]
debug/
release/
run/
*.keystore
*.key
keys/
.gradle/
build/
*.dex
*.apk
*.ap
*.class
.idea/
local.properties
.DS_Store
capture/
bin/
qen/
Thumbs.db
*.o
*.so
*.dmp
.navigation/
proguard/
.vs/
*.VC.db
.vs/
.vscode/
*.pdb
GPATH
GRTAGS
GTAGS
.qmake.stash
*resource.rc
*.Debug
*.Release
Makefile
*.opt
.history/